:root {
    --header-background: #0d0821;
    --video-background: #0d0821;
    --font--primary: #fa709a;
    --font-secondary: #dfb066;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Fjalla One', sans-serif;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

/* HEADER */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-background);
    position: sticky;
    width: 100%;
    height: 125px;
    padding: 20px 80px;
    top: 0;
    z-index: 105;
}

#header .logo svg {
    width: 280px;
    height: 280px;
}

#header-img {
    display: none;
}

#nav-bar ul {
    display: flex;
    justify-content: space-between;
    width: 35vw;
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
}

#nav-bar ul li a:hover {
    color: var(--font--primary);
}


/* HERO */

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100% + 50vh);
    justify-items: center;
    background-color: black;
}

.hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5vw;
}

.hero-title h2, .section-title {
    z-index: 100;
    color: var(--font-secondary);
    font-size: 1.8vw; /* Cambiado de rem a vw para hacerlo más sensible al tamaño de la pantalla */
    padding-top: 3vw; /* Ajustado el espaciado con vw */
    letter-spacing: 1.8rem;
    writing-mode: vertical-rl; /* vertical right-to-left */
    text-orientation: upright; /* establece la orientación del texto */
    white-space: nowrap; /* evita que el texto se envuelva a la siguiente línea */
} 

.left {
    user-select: none;
}

.right {
    margin: auto 0;
}

.right a {
    color: var(--font-secondary);
}

.right a:hover {
    color: var(--font--primary);
}

.hide-video {
    position: absolute;
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video {
    left: 0;
    border: 0;
    height: 100%;
    width: 80vw;
}

/* main section */

.section-container {
    position: relative;
}

.section-container img {
    width: 100%;
}

.section-title {
    position: absolute;
    user-select: none;
}

.section-left {
    top: 8vh;
    left: 4vw;
}

.section-right {
    top: 5vh;
    right: 4vw;
}


/* form section */

form {
display: flex;
}

footer p {
    font-size: 1.8rem;
    color: var(--font-secondary);
    margin-bottom: 30px;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: var(--header-background);
}


.email-form input {
    width: 180px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.submit-btn input {
    margin-left: 10px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.submit-btn input:hover {
    background-color: #fa709a;
}

/* media queries */

@media screen and (max-width: 900px) {
    #nav-bar ul {
        flex-direction: column;
        font-size: 1.2rem;
        align-items: flex-end;
    }

    #nav-bar ul li {
        padding: 5px;
        width: fit-content;
    }

    .hero-title h2, .section-title {
        letter-spacing: 1.4rem;
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 580px) {
    #header {
        padding: initial;
        position: static;
    }

    #header .logo svg {
        width: 100px;
        height: 100px;
    }

    .section-title {
        writing-mode: initial;
        text-orientation: initial;
    }

    #nav-bar ul {
        font-size: 1rem;
        align-items: flex-start;
    }

    #header .logo {
        padding-left: 30px;
    }
}